.selectTabs {
  padding: 10px;
  border: none;
  display: none;
  background-color: #6e9c9f;
  color: white;
  font-size: 15px;
  outline: none;
  max-width: 150px;
  width: 100%;
}

@media (max-width: 1280px) {
  .selectTabs {
    display: block;
    margin-bottom: 30px;
  }
  .inner {
    display: flex;
    column-gap: 20px;
  }
}
@media (max-width: 1024px) {
  .inner {
    justify-content: center;
  }
}
