.header {
  padding: 25px 0;
}
.navLogo {
  column-gap: 10px;
  z-index: 3;
}
.navMenu {
  display: flex;
  align-items: center;
  column-gap: 45px;
}
.item {
  color: var(--secondary-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.02em;
  z-index: 4;
  margin-bottom: 10px;
}
.active {
  color: var(--primary-color);
}
.navBtn {
  border: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  width: 40px;
  height: 35px;
  text-underline-offset: 5px;
  color: #000;
  margin-right: 5px;
  &:last-child {
    margin-right: 40px;
  }
  &.active {
    background-color: var(--primary-accent-color);
  }
}
.draw {
  width: 20px;
  height: 20px;
}
.burger {
  display: none;
}
@media (max-width: 1024px) {
  .navMenu {
    column-gap: 20px;
  }
}
@media (max-width: 768px) {
  .burger {
    position: absolute;
    top: 25px;
    right: 48%;
    display: flex;
    align-items: center;
    height: 40px;
    z-index: 3;

    &.active {
      .burgerLine {
        background: transparent;
        &::before {
          content: "";
          transform: rotate(45deg);
          top: 0;
          transition: 0.5s;
        }

        &::after {
          content: "";
          transform: rotate(-45deg);
          top: 0;
          transition: 0.5s;
        }
      }
    }
    .burgerLine {
      width: 25px;
      height: 2px;
      background: black;
      z-index: 3;
      position: relative;
      transition: 0.5s;

      &::before {
        content: "";
        width: 25px;
        height: 2px;
        background: black;
        position: absolute;
        top: -7px;
        left: 0;
        transition: 0.5s;
      }

      &::after {
        content: "";
        width: 25px;
        height: 2px;
        background: black;
        position: absolute;
        top: 7px;
        left: 0;
        transition: 0.5s;
      }
    }
  }
  .navMenu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    &.active {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      width: 100%;
      height: 100%;
      z-index:2;
      background-color: var(--primary-color);
    }
  }
  .active {
    color: #fff;
  }
}
@media (max-width: 640px) {
  .header{
    padding-bottom: 5px;
  }
  .burger {
    right: 43%;
  }
  .navBtn {
    &:last-child {
      margin-right: 10px;
    }
  }
}
